/* PC  larger resolution (1300px)*/
@media (min-width:  81.25em){
    .header-navbar__bars {
        display: none;
    }



    .header-control__more {
        display: none;
    }

    .banner-wrap {
        margin-left: -15px;
        margin-right: -15px;
    }


    .banner-01 {
        margin-top: 30px;
        position: relative;
        height: 560px;
    
    }
    
    .banner-02 {
        margin-top: 30px;
        position: relative;
        height: 200px;
    }
    
    .banner-03 {
        margin-top: 30px;
        position: relative;
        height: 328px;
    }

    .product-item__img {
        width: 100%;
        height: 323px;
        position: relative;
    
    }
    .header-control__more {
        display: block;
    } 

 


    
}


/*  PC low resolution  (1024px - 1299px*/

@media (min-width:64em) and (max-width:81.1875em){
    .header-navbar__item--res {
        display: none;
    }

     .header-navbar__item--more {
        display: block;
    }

    .navbar__item--hide {
        display: none;
    }

    .header-navbar__bars {
        display: none;
    }

  

    .banner-wrap {
        margin-left: -12px;
        margin-right: -12px;
    }


    .banner-01 {
        margin-top: 24px;
        position: relative;
        height: 552px;
        
    
    }
    
    .banner-02 {
        margin-top: 24px;
        position: relative;
        height: 200px;
       
    }
    
    .banner-03 {
        margin-top: 24px;
        position: relative;
        height: 328px;
       
    }

    #banner-01__img {
        width: 98.5%;
    }


    .product-item__btn {
        position: absolute;
        left: 4px;
        top: 238px;
        font-weight: 500;
    }


    .footer-item-03 {
        margin-left: 80px;
    }
    


}

/* Tablet & Moblie */
@media (max-width:1023px){
    
  
    .header-control__more {
        display: block;
    }
    
    .header-navbar__bars-btn {
        background-color: transparent;
        border: none;
    }

    .header-navbar__bars {
        display: block;
        align-self: center;
    }

    .nav-menu__item-search {
        margin: 0 10px;

    }

    .menu-search {
        width: 100%;
        height: 36px;
        border-radius: 50px;
        display: flex;
        border: 1px solid var(--border-color);
    }

    .menu-search__input {
        width: 100%;
        height: 100%;
        padding-left: 12px;
        transition: 0.50s ease;
        outline: none;
        border-style: none;
        border-radius: 50px 0 0 50px;
    }

    .menu-search-btn {
        width: 36px;
        border-radius: 0 50px 50px 0;
        background-color: transparent;
        border: none;
    }

    .footer-item__header {
        text-align: center;
    }

}

/* Tablet (740px - 1023px*/
@media (min-width: 46.25em) and (max-width:63.9375em){

    /*------Header---- */
    .header-navbar {
        display: flex;
        justify-content: space-between;
    }

    .header-navbar__list-wrap {
        display: none;
    }
    
    .header-navbar__bars {
        display: block;
        align-self: center;
    }

    .header-navbar__bars-icon {
        font-size: 3rem;
        margin-left: 28px;
    }

    /* ---------Banner-------- */

    .banner-wrap {
        display: flex;
        margin-left: -8px;
        margin-right: -8px;
    }

    .banner-01 {
        margin-top: 16px;
        
        height:439px;
        /* width: 100%; */
    }

 
     

    .banner-02 {
        margin-top: 16px;
        position: relative;
        height: 256px;
    }
    
    .banner-03 {
        margin-top: 16px;
        position: relative;
        height: 256px;
    }
   
    .banner-01__img-container {
        width: 100%;
        height: 100%;
       
    }


  

    .banner-01__text-1 {
        font-size: 6rem;
        margin: 0;
    }
    
    .banner-01__text-2 {
        top: 73%;
        left: 32%;
        font-size: 3.6rem;
        margin: 0;
    }
    

    /* --------------Product--------- */
    .product {
        margin-top: 64px;
    }
    

    .product-item__img {
        width: 100%;
        height: 251px;
        position: relative;
    
    }

    .product-item__btn {
        position: absolute;
        left: 4px;
        top: 207px;
        font-weight: 500;
        
    }

    /* ---Slider----- */



    /* --------Footer----- */

   

    .footer-item-01 {
        margin-right: 0;
    }

    .footer-item-02 {
        margin-left: 0;
        padding-right:7px;
     }

    
    .footer-item-03 {
       margin-left: 0;
       padding-left: 7px
    }
    
    .footer-item__content-01 {
        text-align: center;
    }
    
    
    .footer-item__content-02 {
        
        padding-top: 26px;
    }

    .footer-item__content-item {
        padding-bottom: 0;
    }


}

/* mobile (739px)*/
@media (max-width:46.1875em){
    
    .header-heading {
        padding: 0 12px;
    }

    .header-navbar {
        padding: 0 12px;
    }

    .header-navbar__list-wrap {
        display: none;
    }
    .header-navbar__cart-wrap {
        display: flex;

    }

    .header-heading {
        display: flex;
        justify-content: space-between;
    }

    .header-welcome__title {
        font-size: 1.3rem;
    }

  

    .header-control__more-icon {
        color: var(--while-color);
        font-size: 1.6rem;
        padding: 4px 10px;
    }

    .header-navbar {
        display: flex;
        justify-content: space-between;
    }


    .header-navbar__logo-wrap {
        border: 2px solid var(--black-color);
        width: 160px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header-navbar__logo {
       
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        /* padding-left: 14px; */
        letter-spacing: 1.4rem;
        
    }
    
    .header-navbar__cart-icon {
       font-size: 3rem;
      
    }

    .header-navbar__cart-icon--cart {
        margin-left: 24px;
        margin-right: 24px;
    }

    .header-navbar__bars-icon {
        color: var(--back-color);
        font-size: 3rem;
    }

    .header-control__login,
    .header-control__setting {
        display: none;
        font-size: 1.4rem;
    }

    .header-welcome {
        display: block;
    }

    .container {
        margin-left: 4px;
        margin-right: 4px;
    }

    

    /* ---------Banner-------- */

    .banner-wrap {
        display: flex;
        margin-left: -4px;
        margin-right: -4px;
    }

    .banner-01 {
        margin-top: 8px;
        position: relative;
        height: 358px;
    }
    

    .banner-02 {
        margin-top: 8px;
        position: relative;
        height: 256px;
    }
    
    .banner-03 {
        margin-top: 8px;
        position: relative;
        height: 256px;
    }

    .banner-01__container {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        text-align: right;
    }

    .banner-02__container {
        position: absolute;
        top: 50%;
        left: 20%;
        
    }

    .banner-03__container {
        position: absolute;
        top: 20%;
        right: 10%;
      
    
    }



    .banner-02__small-thing,
    .banner-03__folio {
        font-size: 1.2rem;
    }


    .banner-03__backpack,
    .banner-02__make-different {
        font-size: 1.6rem;
    }

    .banner-01__container {
        z-index: 1;
        top: 62%;
    }

    .banner-01__text-1 {
        font-size: 5rem;
        margin: 0;
    }
    
    .banner-01__text-2 {
       
        font-size: 3rem;
        font-weight: 400;
        margin: 0;
        margin-top: -17px;
       
    }
    

    .banner-01__description  {
        font-size: 2rem;
    }

  
    

    /* --------------Product--------- */
    .product {
        margin-top: 40px;
    }
    

    .product-item__img {
        width: 100%;
        height: auto;
        position: relative;
    
    }

    .product-item__btn {
        position: absolute;
        left: 4px;
        top: 58%;
        font-weight: 500;
       
        
    }

    /* Slider */

    .slider-item__img {
        width: 100%;
        position: relative;
       
       
    }

    .dot-res--l {
        display: block;
    }


    /* --------Footer----- */

    .footer-item {
        margin-top: 40px;
    }

    .footer-item-01 {
        margin-right: 0;
    }
    
    .footer-item-03 {
        margin-left: 0;
    }
    

   
    .footer-item__content-02 {
        display: flex;
        padding-top: 26px;
        justify-content: space-between;
    }

    .footer-item__content-item {
        padding-bottom: 0;
    }


    
.nav-menu {
   
    width: 50%;
    max-width: 100%;
  
}

.footer-introduce {
    max-width: 300px;
    line-height: 1.4;
    width: 100%;
    margin-right: 30px
}

.footer-container {
   
    padding: 0 8px;
}

}

@media (max-width:424px) {
    .header-heading {
        padding: 0 12px;
    }

    .header-navbar {
        padding: 0 12px;
    }

    .header-navbar__logo-wrap {
        width: 150px;
    }



    .header-navbar__logo {
      
        letter-spacing: 1.2rem;
        padding-left: 11px;
    }

    .header-navbar__cart-icon {
        font-size: 3rem;
        margin-left: 16px;
        cursor: pointer;
    }

    .header-navbar__cart-icon--cart {
        margin-left: 16px;
        margin-right: 16px;
    }

    
    .banner-01 {
        margin-top: 8px;
        height: 235px;
    }

    .banner-02 {
        margin-top: 8px;
        height: 235px;
    }
    
    .banner-03 {
        margin-top: 8px;
        height: 235px;
    }
    
    .banner-02__container {
        left: 20%;
    }
    
    .banner-wrap {
        display: block;
    }

    .product-item__btn {
        top: 58%;
    }    
  
    .product-header {
        text-align: center;
    }

    .product-header__border {
        margin: 0 auto;
    }

    .dot-res--s {
        display: block;
    }

}

@media (max-width:320px) {

    .product-item__btn {
        top:72%
    }

    .banner-01__description {
        font-size: 1.6rem;
        
    }
    .banner-01__text-1 {
        font-size: 3rem;
        margin: 0;
    }

    .banner-01__text-2 {
        font-size: 2.3rem;
        font-weight: 400;
        margin: 0;
        margin-top: -7px;
    }

    .cart-container {
       
        right: -69%;
        width: 302px;
        
       
    }
}